ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex; }
  ul.menu.menu-vertical {
    flex-direction: column; }
  ul.menu.wide {
    width: 100%; }
    ul.menu.wide .btn {
      width: 100%; }
  ul.menu li {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    margin: 0.25em; }
  ul.menu li > .menu-item {
    display: inline-block;
    line-height: 2em;
    height: 2em;
    padding: 0 0.5em; }
    ul.menu li > .menu-item:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.navbar {
  border-bottom: 2px solid #ececec;
  display: flex; }
  .navbar .menu {
    padding: 0.5em; }
  .navbar .menu li > .btn {
    line-height: 2em;
    padding-right: 0.75em;
    padding-left: 0.75em; }
  .navbar .menu li > .menu-item {
    line-height: 3em;
    height: 3em;
    padding: 0 0.75em; }
  .navbar .menu li {
    display: inline-flex;
    justify-items: center;
    align-items: center; }

.media {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.25rem; }
  .media .media-image {
    padding: 0.25rem;
    margin-right: 1rem; }
    .media .media-image img {
      display: block;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 3px; }
    .media .media-image.featured {
      border: 3px dashed #2ecc71; }
    .media .media-image.hidden {
      border: 3px dashed gainsboro; }
  .media .media-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 1rem; }
    .media .media-content dl {
      flex-grow: 1; }
    .media .media-content dl, .media .media-content dd {
      margin: 0; }
      .media .media-content dl p, .media .media-content dd p {
        margin: 0;
        margin-bottom: 0.5rem; }
    .media .media-content dt {
      font-weight: bold;
      margin-bottom: 0.5rem; }
    .media .media-content .item-count {
      font-size: 1.25rem;
      width: 4rem;
      line-height: 4rem;
      text-align: center;
      background-color: #f0f0f0;
      border-radius: 3px; }
  .media.hoverable:hover {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 3px;
    cursor: pointer; }

.message-wrapper {
  margin: 1rem;
  position: absolute;
  width: 100%;
  max-width: 480px; }

.message {
  display: flex;
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 0.5rem; }
  .message .text {
    flex-grow: 1;
    margin: 0;
    padding: 0; }
  .message i.close:after {
    font-style: normal;
    font-family: "FontAwesome";
    content: "\f00d";
    cursor: pointer; }
  .message.error {
    background-color: #e74c3c;
    color: white; }
  .message.success {
    background-color: #2ecc71;
    color: white; }
  .message.warning {
    background-color: #f39c12;
    color: white; }
  .message.notice {
    background-color: #3498db;
    color: white; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  color: #282828; }

a {
  text-decoration: none;
  color: inherit; }

.align-end {
  align-self: flex-end; }

.flex-grow {
  flex-grow: 1; }

.btn {
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  border-radius: 2px;
  margin: 0;
  padding: 0.75em;
  line-height: 1em;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  background-color: #e9e9e9;
  color: #282828; }
  .btn:hover {
    background-color: #efefef; }
  .btn:active {
    background-color: gainsboro; }
  .btn.btn-red {
    background-color: #e74c3c;
    color: white; }
    .btn.btn-red:hover {
      background-color: #e85647; }
    .btn.btn-red:active {
      background-color: #e43725; }
  .btn.btn-blue {
    background-color: #3498db;
    color: white; }
    .btn.btn-blue:hover {
      background-color: #3f9ddd; }
    .btn.btn-blue:active {
      background-color: #258cd1; }
  .btn.btn-green {
    background-color: #2ecc71;
    color: white; }
    .btn.btn-green:hover {
      background-color: #35d278; }
    .btn.btn-green:active {
      background-color: #29b765; }
  .btn.btn-link {
    background-color: rgba(255, 255, 255, 0);
    color: #282828; }
    .btn.btn-link:hover {
      background-color: rgba(255, 255, 255, 0); }
    .btn.btn-link:active {
      background-color: rgba(242, 242, 242, 0); }

form {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  text-align: left; }

.control {
  color: inherit;
  margin-bottom: 0.5em; }
  .control.text {
    font-family: "Arimo", sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 0.5rem; }

.control-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }

.logo-wrapper {
  margin-bottom: 2rem; }
  .logo-wrapper h1, .logo-wrapper h2, .logo-wrapper h3 {
    margin: 0; }

.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 8rem;
  margin: 2rem 0; }

.container-fluid {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 100vh; }

label.control {
  padding-left: 0.5rem;
  font-size: 0.875rem;
  text-align: left; }

a.link {
  text-decoration: none;
  color: #e74c3c; }
  a.link:hover {
    text-decoration: underline; }

.footer {
  margin-top: auto;
  padding: 1rem;
  border-top: 2px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem; }

.small {
  font-size: small; }

.fa.fa-heart {
  color: #e74c3c; }

.datetime {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.25rem;
  margin-right: 0.5rem; }
  .datetime input {
    margin: 0;
    flex-grow: 1; }
  .datetime input[type=date] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .datetime input[type=time] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.pager {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pager a {
    margin: 0 1rem;
    display: inline-block;
    line-height: 1rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem; }
    .pager a:hover {
      background-color: rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=style.css.map */
