.big-search-form {
    font-size: 1.5em;
    input[name=search] {
        margin-bottom: 2rem;
    }
    input[type=submit] {
        margin: 0;
        //max-width: 8rem;
        font-size: 1.25rem;
        margin-left: auto;
        margin-right: auto;
    }
}