@mixin button-color($background-color, $text-color, $invert-at-hover: false) {

    background-color: $background-color;
    
    color: $text-color;

    &:hover {
        background-color: lighten($background-color, 2.5%);
        @if $invert-at-hover {
            color: invert($text-color);
        }
    }

    &:active {
        background-color: darken($background-color, 5%);
        //border-bottom: 3px solid darken($background-color, 5%);
    }
}