@import "variables";
@import "mixins/buttons";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    //height: 100%;
    color: $text-color;
    
}

.navbar {
    flex-grow: 1;
    display: flex;
    max-height: 3rem;
    border-bottom: solid 2px rgb(230, 230, 230);

    padding: 1rem 0;

    .navbar-right {
        display: flex;
        margin-left: auto;
    }

    //#e74c3c
    .navbar-item {
        min-width: 3rem;
        text-align: center;
        padding: 1rem;
        margin: 0 0.25rem;
        line-height: 1rem;
        text-decoration: none;
        color: $text-color;

        &:hover:not(.btn) {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.btn {

    text-decoration: none;
    color: inherit;
    //height: 1em;
    padding: 0.5em;
    line-height: 1em;
    display: inline-block;
    cursor: pointer;

    &.btn-red {
        @include button-color($color-red, white);
    }

    &.btn-blue {
        @include button-color($color-blue, white);
    }

    &.btn-green {
        @include button-color($color-green, white);
    }
}

.control {
    color: inherit;

    &.text {
        height: 3em;
        font-size: 1em;
        border: none;
        //border-top: solid 3px $input-text-shadow;
        border-radius: 3px;
        background-color: $input-text-background;
        padding: 0.25rem;
    }

}