
$font-family: 'Arimo', sans-serif;
$text-color: rgb(40, 40, 40);

// Button colors
$color-red: #e74c3c;
$color-blue: #3498db;
$color-green: #2ecc71;

$input-text-background: rgb(240, 240, 240);
$input-text-shadow: rgb(220, 220, 220);
$input-text-color: $text-color;

